<h1>My First Rails Girls</h1>
  <div>
    <h2>Naslov stranice</h2>
    <div>
      <p>"You can never understand one language until you understand at least two."</p>
      <p>"Language is the blood of the soul into which thoughts run and out of which they grow."</p>
      <img src="http://wp.production.patheos.com/blogs/allergicpagan/files/2016/03/Difference-Between-Dictionary-and-Thesaurus-dictionary.jpg" />
    </div>
      <a href="http://www.expecteverything.eu/hypatia">Project</a>
    <h2>HTML</h2>
      <p>To learn more about HTML</p>
      <a href="http://www.w3schools.com/html/">Visit HTML tutorial</a>
    <h2>Find me</h2>
      <a href="https://github.com/mackilii">Github</a>
      <a href="https://www.instagram.com/mackilii/">Instagram</a>
      <a href="mailto:marijaa9722@gmail.com">Send me an email</a>
  </div>
